<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Libreria</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
	<a th:href="@{/new}" class="btn btn-primary">NUEVO</a>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Precio</th>
					<th>Eliminado</th>
					<th>Botones</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="libro:${libro}">
					<td th:text="${libro.id}"></td>
					<td th:text="${libro.nombre}"></td>
					<td th:text="${libro.descricion}"></td>
					<td th:text="${libro.precio}"></td>
					<td th:text="${libro.eliminado}"></td>
					<td> <a th:href="@{/editar/}+${libro.id}" class="btn btn-warning">EDITAR</a>
					<a th:href="@{/eliminar/}+${libro.id}"class="btn btn-danger">ELIMINAR</a></td>
				</tr>
			</tbody>
		</table>
	
	</div>
</body>
</html>